*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Montserrat", "Arial", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-body-background-color);
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
}

.light-mode {
  
  --main-title-color: #fff;
  --main-text-color: #fff;
  --main-background-color: #272727;
  --main-border-color: #333;
  --main-body-background-color: #1c1c1c;
  
}